body {
    color: #000000;
    font-family: 'lato';
    font-size: 18px;
    font-style: normal;
    font-weight: 300;
    line-height: 25px;
}

.container {
    width: 1115px;
    margin: 0 auto;
}

.display-none {
    display: none;
}

.flex {
    display: flex;
    flex-direction: column;
}

.blue-icon {
    fill: #005FA3;
}

.header-img {
    width: 40px;
    height: 40px;
}

.header-title {
    color: #005FA3;
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 36px;
    line-height: 50px;
    width: 190px;
    height: 43px;
}

.head-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav {
    display: flex;
    align-items: flex-start;
    padding: 0;
}

.head-flex-logo {
    height: 110px;
    width: 260px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0 30px 20px;
}

.head-flex-list {
    height: 55px;
    width: 671px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.head-size {
    margin: 33px 185px 34px; 
}

.header-contact-text {
    color: #000000;
    font-family: 'Lato';
    font-weight: 400;
    font-size: 13px;
    line-height: 17px;
    margin-left: 18px;
}

.header-contact-link {
    text-decoration: none;
    display: flex;
    align-items: center;
    align-content: space-between;
}

.header-contact-link:hover .header-contact-text,
.header-contact-link:focus .header-contact-text {
    color:#005FA3;
}

.header-contact-link:hover .blue-icon,
.header-contact-link:hover .blue-icon {
    fill:rgba(0, 95, 163, 0.65)
}

.header-contact-link:active {
    opacity: 0.5;
}

.header-nav-link {
    text-decoration: none;
    color: #222;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
}

.header-nav-link:hover,
.header-nav-link:focus {
    color:#005FA3;
}

.header-nav-link:active {
    opacity: 0.5;
}

.desc {
    padding: 170px 0;
    background-color: #EBEBEB;;
    background-image: url(../img/first-screen-bg.jpg);
    min-width: 1920px;
    height: 670px;
    background-size: cover;
    box-sizing: content-box;
}

.desc-title {
    color: #FFF;
    font-family: 'Merriweather';
    font-weight: 700;
    font-size: 48px;
    line-height: 66px;
    margin: 0 0 131px;
    width: 589px;
    height: 117px;
}

.desc-link {
    color: #FFF;
    text-decoration: none;
    font-weight: 400;
    font-size: 25px;
    line-height: 138%;
    background: #005FA3;
    width: 333px;
    min-height: 84px;
    padding: 27px 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.desc-link:hover,
.desc-link:focus,
.button:hover,
.button:focus {
    background-color:#100384;
    cursor: pointer;
}

.desc-link:active,
.button:active {
    opacity: 0.5;
}

.service {
    background: #EBEBEB;
    padding: 140px 0;
}

.section-title {
    color: #BDBDBD;
    font-family: 'Lato';
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    margin: 0 0 0 0;
}

.section-subtitle {
    color: #333;
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
}

.service-subtitle {
    margin: 40px 0 102px;
}

.service-list {
    width: 1110px;
    height: 750px;
    display: flex;
    flex-wrap: wrap;
}

.service-item {
    width: 350px;
    height: 360px;    
}

.service-item:nth-of-type(n+2) {
    margin-left: 30px;
    margin-bottom: 30px;
}

.service-item:nth-of-type(4) {
    margin-left: 0;
}

.service-item-title {
    color: #FFF;
    font-weight: 900;
    font-size: 24px;
    line-height: 30px;
    width: 187px;
    height: 99px;
    margin-left: 45px;
    position: relative;
}

.service-item-link {
    background: #EBEBEB;
    background-image: url(../img/scy-scrapper.jpg);
    text-decoration: none;
    width: 350px;
    height: 360px;
    display: flex;
    align-items: flex-end;
    justify-items: flex-end;
    position: relative;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url(../img/scy-scrapper.jpg);
}

.service-item-link::before {
    width: 100%;
    height: 100%;
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    background: linear-gradient(0deg, rgba(0, 95, 163, 0.65), rgba(0, 95, 163, 0.65)), url(../img/scy-scrapper.jpg);
    display: none;
}

.service-item-link:hover.service-item-link::before,
.service-item-link:focus.service-item-link::before {
    display: block;
}

.service-item-link:active {
    opacity: 0.5;
}

.about {
    display:flex;
    align-items: center;
}

.about-title {
    width: 155px;
    height: 23px;
    font-family: 'Lato';
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #BDBDBD;
    margin-top: 140px;
}

.about-subtitle {
    width: 347px;
    height: 117px;
    margin: 40px 0 0 2px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #333333;
}

.about-text {
    color: #000000;
    width: 445px;
    height: 245px;
    margin: 60px 125px 0 0;
}

.about-company-name{
    color: #005FA3;
}

.about-list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-content: space-between;
}

.about-list-window {
    background: #EBEBEB;
    padding: 30px 40px 40px;
    width: 255px;
    height: 255px;
    box-sizing: border-box;
    
}

.about-list-window:nth-of-type(n+3) {
    margin-top: 30px;
}

.about-list-window:hover,
.about-list-window:focus-within {
    background-color: #005FA3;
}

.about-list-window:active {
    opacity: 0.5;
}

.about-list-window:hover .about-list-title,
.about-list-window:focus-within .about-list-title {
    color: #FFFFFF;
}

.about-list-window:hover .about-list-text,
.about-list-window:focus-within .about-list-text {
    color: #FFFFFF;
}

.about-list-window:hover .about-list-link,
.about-list-window:focus-within .about-list-link {
    color: #FFFFFF;
}


.about-list-title {
    font-weight: 900;
    font-size: 55px;
    line-height: 66px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

.about-list-text {
    font-family: 'Lato';
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    width: 107px;
    min-height: 37px;
    margin: 30px 0 47px;
}

.about-list-link {
    font-weight: 700;
    font-size: 14px;
    line-height: 17px;
    color: #005FA3;
}

.customer {
    background: #EBEBEB;
    padding: 85px 0 92px;
}

.customer-title {
    width: 350px;
    height: 19.64px;
    margin: 0 0 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 33px;
    color: #BDBDBD;
    }

.customer-subtitle {
    margin: 48px 0 43px 2px;
    width: 483px;
    height: 52px;
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #333333;
}

.customer-list {
    width: 1140px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.review {
    padding: 174px 0 120px;
}

.review-head-flex {
    display: flex;
    justify-content: space-between;
    margin: 40px 0 80px;
}

.review-item {
    background: #EBEBEB;
    padding: 45px 95px;
}

.review-item-text {
    color: #000;
    margin: 0 0 58px;
}

.button {
    color: #FFF;
    font-family: inherit;
    background-color: #005FA3;
    font-size: inherit;
    line-height: inherit;
    border: none;
}

.review-button {
    min-height: 60px;
    width: 270px;
}

.review-item-author {
    color: #000;
    font-weight: 900;
}

.review-item-position {
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    color: #4F4F4F;
}

.review-pic {
    display: block;
    width: 80px;
    height: 80px;
    margin-right: 35px;
}

.review-list-pic-flex {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.review-slider-button {
    width: 10px;
    height: 10px;
    background-color: #005FA3;
    padding: 0;
    border: 0;
    border-radius: 50%;
    opacity: 0.4;
}

.review-slider-button:not(.review-slider-button-active):hover,
.review-slider-button:not(.review-slider-button-active):focus {
    background-color: rgb(7, 53, 160);
    cursor: pointer;
}

.review-slider-arrow {
    width: 60px;
    height: 60px;
    background-color: #005FA3;
    padding: 0;
    border: 0;
    opacity: 0.2;
}

.review-slider-icon {

}

.review-slider-button-active {
    opacity: 1;
}

.review-button-flex {
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
}

.review-button-list-flex {
    display: flex;
    width: 160px;
    justify-content: space-between;
}

.benefit {
    background: #EBEBEB;
    padding: 102px 0 112px 0;
}

.benefit-title {
    margin: 102px 0 0 -2px;
}

.benefit-subtitle {
    margin: 40px 0 107px;
}

.benefit-list-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 132%;
    margin-top: 20px;
}

.benefit-pic {
    width: 132px;
    height: 126px;
    display: block;
}

.benefit-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.benefit-flex-pic {
    display: flex;
    justify-content: center;
}

.footer {
    background-color: #191E22;
    background-image: url(../img/first-screen-bg.jpg);
    min-width: 1920px;
    height: 623px;
    background-size: cover;
    padding: 122px 405px 140px 407px;
    box-sizing: border-box;
}

.footer-flex {
    display: flex;
    justify-content: space-between;
}

.footer-connection {
    margin-left: 2px;
}

.footer-title {
    font-family: 'Merriweather';
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #FFFFFF;
    width: 445px;
    height: 47px;
}

.footer-text {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    width: 445px;
    min-height: 43px;
    margin: 60px 0 81px;
}

.footer-telephone {
    width: 35px;
    height: 34px;
}

.footer-envelope {
    width: 39px;
    height: 30px;
}

.footer-list-text {
    width: 184px;
    height: 29px;
    font-size: 21px;
    line-height: 29px;
    color: #FFFFFF;
    margin: 0px 0 0 12px;
}

.footer-flex-list {
    width: 500px;
    display: flex;
    justify-content: space-between;
    padding: 0 0 15px;
}

.input-label {
    display: block;
    width: 125px;
    height: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin: 0 0 15px;
}

input {
    width: 255px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    margin-right: 30px;
    border: none;
    border-bottom: 1px solid #FFF;
    background-color: transparent;
    color: #FFF;
}

textarea {
    width: 100%;
    min-height: 105px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    border: none;
    border-bottom: 1px solid #FFF;
    background-color: transparent;
    color: #FFF;
    margin-bottom: 50px;
}

.footer-contact {
    display: flex;
    justify-content: space-between;
    margin: 13px 0 35px;
}

input::shadow, textarea::shadow {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 300;
    font-size: 21px;
    line-height: 29px;
    color: #BDBDBD;
}

.footer-button {
    display: block;
    width: 270px;
    min-height: 60px;
    margin: 0 0 0 auto;
}

.footer-last-row {
    font-size: 14px;
    line-height: 19px;
    min-height: 20px;
    font-weight: 300;
    font-size: 14px;
    line-height: 19px;
    color: #000000;
    background: #E5E5E5;
    padding: 50px 0 ;
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.65);
    display: flex;
    align-items: center;
    justify-content: center;
}

.popup-wrp {
    width: 40%;
    background-color: #262626;
    margin: 0 auto 0 auto;
    padding: 2% 8%;
    position: relative;
}

.popup-cross {
    position: absolute;
    width: 28px;
    height: 28px;
    top: 19px;
    right: 20px;
    background-color: transparent;
    border: none;
    padding: 0;
}

.popup-cross-icon {
    width: 30px;
    height: 28px;
    fill: #FFF;
}

.popup-cross:hover,
.popup-cross:focus {
    cursor:pointer;
    opacity: 0.7;
}

.popup-label {
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 69px;
    color: #FFFFFF;
    margin: 5% 20% 5%;
}

.popup-button {
    display: block;
    width: 37%;
    min-height: 60px;
    margin: 0 auto 0 auto;
}

.popup-form {
    display: flex;
    flex-wrap: wrap;
    padding: 18px 0;
    justify-content: space-around;
}

.popup input {
    margin-bottom: 5%;
}

.input-radio {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color:#FFF;
    
}

.radio-button {
    margin: 0;
    width: 20%;
}

.radio-wrp {
    width: 255px;
    margin: 0 30px 15px 0;
}

.popup-close {
    display: none;
}